.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .background {
    background-image: linear-gradient(
      to bottom right,
      #1a1a1a,
      #1a1a1a,
      #383838,
      #606060
    );
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    color: white;
    text-align: center;
    font-size: 3rem;
    max-width: 80%;
    margin-bottom: 2rem;
  }
  
  .form {
    background-color: #f7f7f7;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    margin-bottom: 4rem;
    padding: 3rem;
  }
  
  .formWrapper {
    width: 90%;
    max-width: 50rem;
  }
  
  .logoWrapper {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 10rem;
    height: 10rem;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .input {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #f0f0f0;
  }
  
  .btnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .btn {
    font-size: 1.2rem;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .signIn {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .signIn a {
    color: #0077ff;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
    }
  
    .background {
      height: 20rem;
    }
  
    .logo {
      width: 8rem;
      height: 8rem;
    }
  }
  